#top
{
    
    background-image: url('https://media.cntraveler.com/photos/6351664f9e488d3c598e3279/16:9/w_2240,c_limit/Ski_GettyImages-1400588475.jpg');
    height: 100vh; /* Take the full viewport height */
     background-attachment: fixed; /*Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

#topLine
{
    z-index: 3;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(250, 253, 255);
}

#title{
    font-weight: bold;
    font-size: xx-large;
    position: absolute;
    z-index: 1;
    display: flex;
    margin-top: 10px;
    left: 47%;
}

#container
{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center; 
    margin-left: 215px;
    margin-top: 10px;

}

#menuButton
{
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    background-color: rgba(240, 255, 253, 0.631);
}
#menuButton :hover{
    background-color: rgba(240, 255, 253, 1);
}

#logInBtn
{
    position: absolute;
    z-index: 1;
    left: 90%;
    margin-right: 20px;
    background-color: rgba(240, 255, 253, 0.631);
}

#cartBtn
{
    position: absolute;
    z-index: 1;
    left: 80%;
    margin-right: 20px;
    background-color: rgba(240, 255, 253, 0.631); 
}

#menu
{
    display: none;
    position: absolute;
    margin-top: 25%;
    background-color: rgba(240, 248, 255, 0.379);
    width: 180px;
    height: 200px;
    padding: 10px;

}

#menu ul {
    padding: 0; 
    list-style-type: none;
}

#menu li {
    margin-bottom: 10px; 
    
}

#menu a {
    color: black; 
    text-decoration: none; 
}

#menu a:hover {
    text-decoration: underline; 
}

#TopCategories
{
    display: flex;
    flex-direction: row;
    margin-right: 10px;

}

.card
{
    justify-content: space-between;
    margin-left: 20px;
}

#subTitel
{
    margin-top: 10px;
}