body {
    background-image: url('https://media.cntraveler.com/photos/6351664f9e488d3c598e3279/16:9/w_2240,c_limit/Ski_GettyImages-1400588475.jpg');
    background-attachment: fixed; /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Take the full viewport height */
    overflow: hidden; /* Prevent scrolling */
}

.content {
    position: relative;
    z-index: 1; /* Ensure content is above the background */
    padding: 20px;
    /* Additional styling for content */
}

#container
{
    display: flex;
    flex-direction: column;
    background-color: rgb(218 235 244 / 80%);
    margin-top: 90px;
    margin-left: 140px;
    width: 80%;
    height: 600px;
    padding: 15px;
    border-radius: 15px;
}

#managerName
{
    margin-right: auto;
}
#managerName h6
{
    font-size: x-large;
    font-weight: bold;
}

#info
{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 22px;
    margin-left: 60px;
}

#graph
{
    border-radius: 15px;
    width: 400px;
    height: auto;
}
#statistics
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-left: 50px;

}
#statisticsCards{
    border-radius: 40px;
    width: 250px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}
#statisticsCards:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#menu
{
    display: block;
    width: 140px;
}